NODE_ENV=development
PORT=4000
JWT_ACCESS_SECRET=replace_with_openssl_rand_base64_48
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
TICKET_SERVICE_URL=http://ticket-service:4003
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info
